---
import Layout from "@/components/layout/Layout.astro";
import { FeedManager } from "@/lib/news/feeds/feedManager";
import { getFeedPosts } from "@/lib/news/cache/cache";

const { slug } = Astro.params;

export function getStaticPaths() {
	return FeedManager.feeds.map((feed) => ({
		params: { slug: feed.slug },
	}));
}

const feed = FeedManager.getFeedBySlug(slug);

if (!feed) throw new Error(`Feed ${slug} not found`);
---

<Layout title={"Feed: " + feed.name}>
	<div class="p-8">
		<p>{feed.description}</p>
		<p>
			Homepage: <a
				href={feed.urls.homepage}
				rel="noopener noreferrer"
				target="_blank"
				class="text-blue underline">{feed.urls.homepage}</a
			>
		</p>
		<p>Indexed posts: {(await getFeedPosts(feed)).length}</p>
		<p>
			Subcribe:
			<ul>
				<li>
					<a href={feed.urls.rss} class="text-blue underline">rss</a>
				</li>
				<li>
					<a href={feed.urls.atom} class="text-blue underline">atom</a>
				</li>
			</ul>
		</p>
		<!-- todo add a link to browse just this feed -->
	</div>
</Layout>
