---
import UiLayout from "@/components/layout/UiLayout.astro";
import { FeedManager } from "@/features/feeds/feedManager";
---

<UiLayout title="Feeds">
	<div class="flex flex-col gap-4 p-6">
		<span>{FeedManager.allPosts().length} total posts</span>
		{
			FeedManager.feeds.map(async (feed) => (
				<div class="flex items-center gap-4">
					<a
						href={feed.homepageUrl}
						rel="noopener noreferrer"
						target="_blank"
						class="text-brand-blue font-serif text-xl font-bold wrap-anywhere hyphens-auto hover:underline"
					>
						{feed.name}
					</a>
					<span>{feed.posts.length} posts</span>
					<span>{feed.type}</span>
				</div>
			))
		}
	</div>
</UiLayout>
